
<!-- Contact
    ================================================== -->
    <div class="bg-contact" id="contact">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-8 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2">
                        Have any questions on mind?
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                        We would love to hear from you !
                    </p>

                </div>
            </div>
            <!-- / .row -->

            <%= render 'form', contact: @contact %>
            
        </div>
    </div>  