<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact information </h1>
    <p><%= @contact.contact_name %></p>
    <p><%= @contact.contact_email %></p>
    <p><%= @contact.contact_subject %></p>
    <p><%= @contact.contact_message %></p>
  </body>
</html>