<footer class="bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="text-white">
                            <h3 class="mb-4 footer-list-title f-17">Zairo</h3>
                            <ul class="footer-icons list-inline mb-4">
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-google"></i></a></li>
                            </ul>
                            <p class="copyright mt-3">2018 © Zairo. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-3">
                                <div>
                                    <p class="text-white mb-4 footer-list-title f-17">Company</p>
                                    <ul class="list-unstyled footer-list-menu">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Media & Press</a></li>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <p class="text-white mb-4 footer-list-title f-17">Resources</p>
                                    <ul class="list-unstyled footer-list-menu">
                                        <li><a href="#">Help & Support</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <p class="text-white mb-4 footer-list-title f-17">More Info</p>
                                    <ul class="list-unstyled footer-list-menu">
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">For Marketing</a></li>
                                        <li><a href="#">For CEOs </a></li>
                                        <li><a href="#">For Agencies</a></li>
                                        <li><a href="#">Our Apps</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <p class="text-white mb-4 footer-list-title f-17">Help center</p>
                                    <ul class="list-unstyled footer-list-menu">
                                        <li><a href="#">Accounting </a></li>
                                        <li><a href="#">Billing</a></li>
                                        <li><a href="#">General Question</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>